commonregex
django-cors-headers
django_bootstrap5
djangorestframework
Django
djongo
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
more_itertools
munch
numpy
pandas
pymongo
pymorphy2
python-dateutil
requests
scikit-learn
setuptools
torch
tqdm
transformers
vk