<nav class="" style="padding-left: 10%; padding-right: 10%; padding-top: 1%">
  <a class="nya-text-header nya-a-1 nya-margin" href="/" style="font-size: 30px; border-radius: 0">Nyaural Nyatworks</a>
  <a class="nya-text nya-a-2 nya-margin" href="/predict" style="font-size: 25px; border-radius: 0">Анализ</a>
  <a class="nya-text nya-a-2 nya-margin" href="/reports" style="font-size: 25px; border-radius: 0">Отчеты</a>
  <a class="nya-text nya-a-2 nya-margin" href="/rating" style="font-size: 25px; border-radius: 0">Рейтинг</a>
</nav>