{% extends "base.html" %}

{% block content %}
  <form action="/results">
    <div class="container search" style="position: relative;">
      <div class="row">
        <div class="col-md-3 mb-3">
          <select id="input" class="form-control nya-a-2 nya-remove-shadow text-center" name="input">
            <option selected>ручной ввод текста</option>
            <option>vk</option>
            <option>twitter</option>
            <option>reddit</option>
            <option>youtube</option>
          </select>
        </div>

        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control nya-remove-shadow" placeholder="" aria-label=""
                   aria-describedby="basic-addon2" style="border-bottom: 1px solid black; border-radius: 0" name="text">
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn nya-remove-shadow nya-a-2" type="submit">провести анализ
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <h4 class="nya-text" style="padding-top: 30px">Настройка анализатора</h4>
    {% include "params.html" %}

  </form>

{% endblock %}

