{% extends 'base.html' %}

{% block content %}

  {% include "logo.html" %}

{#  <hr class="divider">#}


  <div class="container py-4">
    <div class="p-5 mb-4">
      <div class="container-fluid py-5">
        <h1 class="display-5 nya-text">Анализ тональности</h1>
        <p class="col-md-8 fs-4">Анализируйте тональность, эмоциональность и токсичность текстов. Импортируйте данные
          из социальных сетей. Просматривайте характеристики моделей и историю обучения.</p>
        <a href="/predict" class="nya-a-2" type="button">
          Провести анализ
        </a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 ">
          <h2 class="nya-text">Отчеты</h2>
          <p>Просматривайте отчеты по моделям, </br> препроцессорам и датасетам</p>
          <a href="/reports" class="nya-a-2" type="button">
            Просмотреть отчеты
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5">
          <h2 class="nya-text">Рейтинг</h2>
          <p>Ставте лайки и дизлайки, на основе которых формируется рейтинг моделей.</p>
          <a href="/rating" class="nya-a-2" type="button">
            Просмотреть рейтинг
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}